page-dashboard {
    img{
        width: 150vw;
        height: 10vh;
        border-radius: 4%;
        display: flex;
        justify-content: center;
        
    }
    ion-card{
        display: flex;
        flex-direction: column;
    }
     
}


